.tfw-game {
  background-color: #FD7318; }

#tfw-game-button {
  width: 500px;
  font-size: 13px;
  height: 50px;
  background-color: #5FA3C6;
  color: black;
  font-family: 'Press Start 2P', Arial;}

.tfw-score {
  font-size: 18;
  font-family: 'Press Start 2P', Arial;
  color: black; }

#screen {
  border: 2px solid white; }

.tfw-hide-me {
  display: none;
}
